Repository wizarrrrr/wizarr, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, 🖥️web, 🗄️server

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

chore: 🧽 Repair server screen
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/launch.json
  CHANGELOG-beta.md
  apps/wizarr-frontend/src/modules/admin/pages/Servers.vue
  apps/wizarr-frontend/src/modules/settings/pages/Main.vue
  apps/wizarr-frontend/src/modules/settings/pages/Servers.vue
  apps/wizarr-frontend/src/modules/settings/router/children.ts
  apps/wizarr-frontend/src/templates/Navbars/AdminNavBar.vue
Labels: 🖥️web

chore: 🧽 Setup Github Workflows
  .github/workflows/cache-cleanup.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-cleanup.yml
  .github/workflows/docker.yml
  .github/workflows/pr-label-validation.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-require-conventional-commit.yml
  .github/workflows/prepare-release.yml
  .github/workflows_old/beta-ci.yml
  .github/workflows_old/beta-release.yml
  .github/workflows_old/build-storybook.yml
  .github/workflows_old/translations.yml
  docs/static/archived-versions.json
  misc/release/archive-version.js
  misc/release/notes.tmpl
  misc/release/pump-version.sh
Labels: documentation

chore: 🧺 Fix Permissions
  misc/release/pump-version.sh
Labels: none

chore: 🧺 Fix Release yml
  .github/workflows/prepare-release.yml
  docs/static/archived-versions.json
  misc/release/archive-version.js
Labels: documentation

chore: version v3.5.1
  docs/static/archived-versions.json
  package-lock.json
  package.json
Labels: documentation

chore: 🧺 Fix Retagging
  .github/workflows/docker.yml
  .github/workflows/prepare-release.yml
Labels: none

chore: version v3.5.2
  docs/static/archived-versions.json
  package-lock.json
  package.json
Labels: documentation

chore: 🧽 Fix token for release workflow
  .github/workflows/prepare-release.yml
Labels: none

chore: version v3.5.3
  docs/static/archived-versions.json
  package-lock.json
  package.json
Labels: documentation

Pending changes exported from your codespace
  docker/docker-compose.yml
  docker/example.env
Labels: none

chore: version v3.5.4
  docs/static/archived-versions.json
  package-lock.json
  package.json
Labels: documentation

chore: 🧽 Remove old Documentation
  docs_old/.gitbook/assets/custom-widget.png
  docs_old/.gitbook/assets/default-widget.png
  docs_old/README.md
  docs_old/SUMMARY.md
  docs_old/contribute/api.md
  docs_old/contribute/development.md
  docs_old/contribute/files.md
  docs_old/contribute/style-guide/buttons.md
  docs_old/contribute/translate.md
  docs_old/contribute/webpack.md
  docs_old/getting-started/installation.md
  docs_old/getting-started/reverse-proxy.md
  docs_old/setup/README.md
  docs_old/setup/Screenshot 2023-08-17 at 3.36.31 pm.png
  docs_old/setup/Screenshot 2023-08-17 at 3.36.37 pm.png
  docs_old/setup/Screenshot 2023-08-17 at 3.36.44 pm.png
  docs_old/setup/Screenshot 2023-08-17 at 3.37.05 pm.png
  docs_old/setup/Screenshot 2023-08-17 at 3.37.35 pm.png
  docs_old/setup/Screenshot 2023-08-17 at 3.39.31 pm 1.png
  docs_old/setup/Screenshot 2023-08-17 at 3.39.31 pm.png
  docs_old/setup/Screenshot 2023-08-17 at 3.40.01 pm.png
  docs_old/setup/Screenshot 2023-08-17 at 3.40.21 pm.png
  docs_old/setup/Screenshot 2023-08-17 at 3.40.29 pm.png
  docs_old/setup/Screenshot 2023-08-17 at 3.40.35 pm.png
  docs_old/setup/Screenshot 2023-08-17 at 3.40.49 pm.png
  docs_old/static/archived-versions.json
  docs_old/support/discord.md
  docs_old/using-wizarr/custom-html.md
  docs_old/using-wizarr/requests-integration.md
Labels: none

docs: 📝 Update Documentation Workflows
  apps/wizarr-backend-old/wizarr_backend/app/globals.py
  deployment/.gitignore
  deployment/modules/cloudflare/docs-release/.terraform.lock.hcl
  deployment/modules/cloudflare/docs-release/config.tf
  deployment/modules/cloudflare/docs-release/domain.tf
  deployment/modules/cloudflare/docs-release/providers.tf
  deployment/modules/cloudflare/docs-release/remote-state.tf
  deployment/modules/cloudflare/docs-release/terragrunt.hcl
  deployment/modules/cloudflare/docs-release/variables.tf
  deployment/modules/cloudflare/docs/.terraform.lock.hcl
  deployment/modules/cloudflare/docs/config.tf
  deployment/modules/cloudflare/docs/domain.tf
  deployment/modules/cloudflare/docs/locals.tf
  deployment/modules/cloudflare/docs/providers.tf
  deployment/modules/cloudflare/docs/remote-state.tf
  deployment/modules/cloudflare/docs/terragrunt.hcl
  deployment/modules/cloudflare/docs/variables.tf
  deployment/state.hcl
  docker/docker-compose.dev.yml
  docker/example.env
  docs/docs/administration/backup-and-restore.md
  docs/docs/developer/directories.md
  docs/docusaurus.config.ts
Labels: documentation

chore: 🧽 Add nvmrc file
  docs/.nvmrc
Labels: documentation

chore: 🧹 Add prettier
  docs/package-lock.json
  docs/package.json
Labels: documentation

chore: 🧼 Fix Forrmatting
  docs/docs/FAQ.mdx
  docs/docs/developer/architecture.mdx
  docs/docs/developer/directories.md
  docs/docs/developer/pr-checklist.md
  docs/docs/developer/setup.md
  docs/docs/developer/testing.md
  docs/docs/install/docker-compose.mdx
  docs/docs/install/portainer.md
  docs/docs/install/requirements.md
Labels: documentation

chore: 🧹 Add raw-loader
  docs/package-lock.json
  docs/package.json
Labels: documentation

chore: 🧽 Remove Docs Workflow
  .github/workflows/docs-build.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-destroy.yml
  deployment/.gitignore
  deployment/modules/cloudflare/docs-release/.terraform.lock.hcl
  deployment/modules/cloudflare/docs-release/config.tf
  deployment/modules/cloudflare/docs-release/domain.tf
  deployment/modules/cloudflare/docs-release/providers.tf
  deployment/modules/cloudflare/docs-release/remote-state.tf
  deployment/modules/cloudflare/docs-release/terragrunt.hcl
  deployment/modules/cloudflare/docs-release/variables.tf
  deployment/modules/cloudflare/docs/.terraform.lock.hcl
  deployment/modules/cloudflare/docs/config.tf
  deployment/modules/cloudflare/docs/domain.tf
  deployment/modules/cloudflare/docs/locals.tf
  deployment/modules/cloudflare/docs/providers.tf
  deployment/modules/cloudflare/docs/remote-state.tf
  deployment/modules/cloudflare/docs/terragrunt.hcl
  deployment/modules/cloudflare/docs/variables.tf
  deployment/state.hcl
Labels: none

chore: 🧽 Fix version Information
  apps/wizarr-backend/Dockerfile
  apps/wizarr-backend/src/utils/versions.helper.ts
Labels: 🗄️server

chore: 🧽 Fix Version Variable
  apps/wizarr-backend/Dockerfile
  apps/wizarr-backend/src/utils/versions.helper.ts
  latest
Labels: 🗄️server

chore: 🧼 Get Ready for Update Capabilities
  apps/wizarr-backend/Dockerfile
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  docker/example.env
  docker/nginx-main.conf
  docker/scripts/.bashrc
  docker/scripts/start.sh
  workspace.code-workspace
Labels: none

chore: 🧹 Fix my dumb mistake
  apps/wizarr-backend/Dockerfile
Labels: none

chore: 🧼 Fix my dumb mistake
  apps/wizarr-backend/Dockerfile
Labels: none

chore: 🧼 Fix my dumb mistake
  apps/wizarr-backend/Dockerfile
Labels: none

chore: 🧺 Fix my dumb mistake
  apps/wizarr-backend/Dockerfile
Labels: none

chore: 🧽 Fix my dumb mistake
  apps/wizarr-backend/Dockerfile
Labels: none

chore: 🧼 Fix my dumb mistake
  apps/wizarr-backend/Dockerfile
Labels: none

chore: 🧹 Fix my dumb mistake
  apps/wizarr-backend/Dockerfile
Labels: none

chore: 🧽 Fix my dumb mistake
  apps/wizarr-backend/Dockerfile
Labels: none

chore: 🧹 Fix my dumb mistake
  apps/wizarr-backend/Dockerfile
Labels: none

chore: 🧺 Fix my dumb mistake
  apps/wizarr-backend/Dockerfile
Labels: none

chore: 🧼 Fix my dumb mistake
  apps/wizarr-backend/src/utils/versions.helper.ts
Labels: 🗄️server

chore: 🧹 Updated Web GUI and added TODO list
  .vscode/extensions.json
  TODO.md
  apps/wizarr-backend/src/main.ts
  apps/wizarr-backend/src/middlewares/Authentication/AuthenticationCheck.ts
  apps/wizarr-frontend/src/modules/setup/pages/EULA.vue
Labels: 🖥️web, 🗄️server

chore: 🧼 Added Authentication to BullBoard & Moved to /api/bull & /admin/bull
  apps/wizarr-backend/src/bull/koaAdapter.ts
  apps/wizarr-backend/src/main.ts
  apps/wizarr-backend/src/middlewares/Authentication/AuthenticationCheck.ts
  apps/wizarr-frontend/proxy.conf.json
  docker/nginx-main.conf
  package-lock.json
  package.json
Labels: 🗄️server

chore: 🧼 Fix Linting
  apps/wizarr-frontend/src/stores/sessions.ts
Labels: 🖥️web

chore: 🧼 List Tasks from Reddis in Dashboard, Added Cache Control
  apps/wizarr-frontend/src/components/TaskList/TaskItem.vue
  apps/wizarr-frontend/src/components/TaskList/TaskList.vue
  apps/wizarr-frontend/src/stores/tasks.ts
  apps/wizarr-frontend/src/types/Tasks.ts
  apps/wizarr-frontend/src/types/api/tasks.ts
Labels: 🖥️web

chore: 🧺 Updated Workspace Settings
  wizarr.code-workspace
Labels: none

docs: 📖 Updated TODO list
  TODO.md
Labels: none

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**

🖥️web:
  - changed-files:
      - any-glob-to-any-file:
          - apps/wizarr-frontend/src/**

🗄️server:
  - changed-files:
      - any-glob-to-any-file:
          - apps/wizarr-backend/src/**

changelog:translation:
  - head-branch: ['^chore/translations$']
