Repository wizarrrrr/wizarr, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, 🖥️web, 🗄️server

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**

🖥️web:
  - changed-files:
      - any-glob-to-any-file:
          - apps/wizarr-frontend/src/**

🗄️server:
  - changed-files:
      - any-glob-to-any-file:
          - apps/wizarr-backend/src/**

changelog:translation:
  - head-branch: ['^chore/translations$']

chore: 🧼 Ignore core File
  .gitignore
Labels: none

chore: version v3.5.5
  package-lock.json
  package.json
Labels: none

chore: 🧺 Fixed Invite Validation & Stripped API key from API results
  .gitignore
  apps/wizarr-backend/src/api/controllers/Invitation/InvitationController.ts
  apps/wizarr-backend/src/api/services/Invitation/InvitationService.ts
  apps/wizarr-backend/src/api/services/Server/ServerService.ts
  apps/wizarr-backend/src/decorators/StripApiKeyDecorator.ts
  apps/wizarr-frontend/src/components/WizarrLogo.vue
  apps/wizarr-frontend/src/modules/core/components/Carousel.vue
  apps/wizarr-frontend/src/modules/join/pages/JoinForm.vue
  apps/wizarr-frontend/src/modules/join/pages/Signup.vue
  apps/wizarr-frontend/src/modules/join/views/Join.vue
  apps/wizarr-frontend/src/plugins/analytics.ts
  apps/wizarr-frontend/src/plugins/sentry.ts
  apps/wizarr-frontend/src/widgets/default/InvitesTotal.vue
  apps/wizarr-frontend/src/widgets/default/TasksTotal.vue
  apps/wizarr-frontend/src/widgets/default/UsersTotal.vue
Labels: 🖥️web, 🗄️server

fix: 🚑 Fix eventbus
  .vscode/extensions.json
  apps/wizarr-frontend/src/modules/join/views/Join.vue
Labels: 🖥️web

chore: 🧽 Add Storybook Workflow
  .github/workflows/build-storybook.yml
  .github/workflows/docker.yml
  .github/workflows_old/build-storybook.yml
Labels: none

chore: 🧺 Update Config files
  .gitignore
  package.json
Labels: none

fix: 🐛 Fix Authentication issue
  apps/wizarr-frontend/src/App.vue
  apps/wizarr-frontend/src/modules/join/pages/JoinForm.vue
  apps/wizarr-frontend/src/modules/join/pages/Signup.vue
  apps/wizarr-frontend/src/modules/join/router/index.ts
  apps/wizarr-frontend/src/modules/join/views/Join.vue
  apps/wizarr-frontend/src/router/index.ts
  apps/wizarr-frontend/src/router/middleware/openServer.ts
  apps/wizarr-frontend/src/router/middleware/requireAuth.ts
  apps/wizarr-frontend/src/router/middleware/requireNoAuth.ts
  apps/wizarr-frontend/src/router/middlewarePipeline.ts
  apps/wizarr-frontend/src/stores/join.ts
  apps/wizarr-frontend/src/types/api/invitations.ts
Labels: 🖥️web

refactor: 🔧 Clean up Reddis Workers
  apps/wizarr-backend/src/bull/workers/LibraryWorker.ts
  apps/wizarr-backend/src/bull/workers/NotificationWorker.ts
  apps/wizarr-backend/src/bull/workers/UserWorker.ts
Labels: 🗄️server

fix: 🚑 Fix workflow formatting
  .github/workflows/build-storybook.yml
Labels: none

fix: 🚑 Token for Workflow
  .github/workflows/build-storybook.yml
Labels: none

fix: 🩹 Fix Workflow Token
  .github/workflows/build-storybook.yml
Labels: none

fix: 🩹 Swap out Workflow Token
  .github/workflows/build-storybook.yml
Labels: none

chore: 🧽 Add Tauri for future Desktop application
  apps/wizarr-backend/src/middlewares/Authentication/AuthenticationCheck.ts
  apps/wizarr-frontend/src/assets/scss/flags.scss
  apps/wizarr-frontend/src/assets/scss/main.scss
  apps/wizarr-frontend/tailwind.config.js
  apps/wizarr-frontend/vite.config.ts
  modules/semantic-release-sentry-releases/package.json
  package-lock.json
  package.json
  tauri/.gitignore
  tauri/Cargo.lock
  tauri/Cargo.toml
  tauri/build.rs
  tauri/capabilities/default.json
  tauri/icons/128x128.png
  tauri/icons/128x128@2x.png
  tauri/icons/32x32.png
  tauri/icons/Square107x107Logo.png
  tauri/icons/Square142x142Logo.png
  tauri/icons/Square150x150Logo.png
  tauri/icons/Square284x284Logo.png
  tauri/icons/Square30x30Logo.png
  tauri/icons/Square310x310Logo.png
  tauri/icons/Square44x44Logo.png
  tauri/icons/Square71x71Logo.png
  tauri/icons/Square89x89Logo.png
  tauri/icons/StoreLogo.png
  tauri/icons/icon.icns
  tauri/icons/icon.ico
  tauri/icons/icon.png
  tauri/src/lib.rs
  tauri/src/main.rs
  tauri/tauri.conf.json
Labels: 🖥️web, 🗄️server

feat(DESKTOP): ✨ Add local notification system
  .vscode/extensions.json
  apps/wizarr-frontend/src/router/index.ts
  apps/wizarr-frontend/src/shims/window.d.ts
  apps/wizarr-frontend/src/ts/utils/toasts.ts
  apps/wizarr-frontend/vite.config.ts
  package-lock.json
  package.json
  tauri/Cargo.lock
  tauri/Cargo.toml
  tauri/build.rs
  tauri/capabilities/default.json
  tauri/src/lib.rs
  tauri/src/main.rs
  tauri/tauri.conf.json
Labels: 🖥️web

feat: 🚀 Added Memcahe for Caching
  apps/wizarr-backend/src/api/controllers/router/InformationController.ts
  apps/wizarr-backend/src/config/connection.ts
  apps/wizarr-backend/src/config/database.ts
  apps/wizarr-backend/src/config/memcached.ts
  apps/wizarr-backend/src/config/paths.ts
  apps/wizarr-backend/src/decorators/CachedDecorator.ts
  apps/wizarr-backend/src/main.ts
  apps/wizarr-backend/src/utils/cache.helper.ts
  apps/wizarr-backend/src/utils/secret.helper.ts
  apps/wizarr-backend/src/utils/versions.helper.ts
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  docker/example.env
  docs/docs/FAQ.mdx
  docs/docs/administration/backup-and-restore.md
  docs/docs/guides/database-queries.md
  docs/docs/install/environment-variables.md
  docs/docs/install/portainer.md
  docs/docs/install/requirements.md
  package-lock.json
  package.json
  scripts/buildx-create.sh
  scripts/delete-old-workflows.sh
  scripts/docker-build.sh
  scripts/github-actions.js
  scripts/install-reddis.sh
  scripts/log-file-changes.sh
  scripts/setup-build-enviroment.sh
  scripts/setup_dev_env.sh
  scripts/start-production.sh
  unraid.xml
Labels: documentation, 🗄️server

docs: 📚 Autobuild Documentation
  .github/workflows/docs-build.yml
  .github/workflows/docs-deploy.yml
  README.md
  docker/docker-compose.yml
Labels: none

docs: 📖 Fix Workflow
  .github/workflows/docs-build.yml
  docs/docs/developer/architecture.mdx
  docs/docs/developer/pr-checklist.md
  docs/docs/developer/setup.md
  docs/docs/developer/testing.md
  docs/docs/install/docker-compose.mdx
Labels: documentation

feat: ✨ Docker Development
  .github/workflows/docker.yml
  apps/wizarr-backend/Dockerfile
  docker/docker-compose.dev.yml
  docker/example.env
  docker/scripts/start-dev.sh
Labels: none
